@import "tailwindcss";
html, body { 
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Inter', sans-serif;
  color: #f9f9f9;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins", sans-serif;
}
.noto-serif {
    font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@keyframes shoot {
  0% {
    transform: translateX(0) translateY(0) rotate( -45deg);
    opacity: 1;
  }
  100% {
    transform: translateX(600px) translateY(500px) rotate(-45deg);
    opacity: 0;
  }
}

.shooting-star {
  position: absolute;
  width: 2px;
  height: 80px;
  background: linear-gradient(75deg, #ffffff4b, transparent);

  border-radius: 9999px;
  opacity: 0;
  animation: shoot 5s linear infinite;
}

.shooting-star:nth-child(1) {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}
.shooting-star:nth-child(2) {
  top: 40%;
  left: 60%;
  animation-delay: 1s;
}
.shooting-star:nth-child(3) {
  top: 70%;
  left: 30%;
  animation-delay: 2s;
}
.shooting-star:nth-child(4) {
  top: 15%;
  left: 80%;
  animation-delay: 3s;
}
@keyframes fadeIn {
          to {
            opacity: 1;
            transform: scale(1);
          }
        }

   .animate-fadeIn {
          opacity: 0;
          transform: scale(0.98);
          animation: fadeIn 1s ease forwards;
        }

#dashboard-main{
  background-color: black;
  width: 100%;
  min-height: 100vh;
}